body { 
    width: 100%; 
    font-family: sans-serif;
}

.centerContainer {
    width: 1000px;
    margin: 0px auto; 
    text-align: left; 
}

h1 {
    background-color: darkgray;
    border: 1px solid black;
    margin-bottom: 35px;
    text-align: center;
    font-size: x-large;
}

h3 {
    margin-left: 40px;
    font-size: large;
}

section {
    background-color: darkgray;
    padding-bottom: 20px;
    border: 1px solid black;
}

li {
    padding-bottom: 12px;
}

select {
    width: 150px;
}

input {
    width: 145px;
}

table {
    width: 100%;
    margin-top: 35px;
    border-collapse: collapse;
}

th {
    width: 100px;
    padding: 5px 5px;
    background-color:  darkgray;
    border: 1px solid black;
    font-size: medium;
    text-align: center;
}

td {
    padding-right: 10px;
    border: 1px solid black;
    text-align: right;
}

button {
    background-color: white;
    margin-left: 40px;
    padding: 3px 15px 3px 15px;
    border: 1px solid black;
}
